/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 23px 57px;
    font-weight: 400;
    min-width: 260px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
    margin-bottom: 8px;
}

h2 {
    font-size: 15px;
    letter-spacing: 0.1em;
}

hr {
    border: 1px solid #CCCCCC;
    margin: auto;
    min-width: 150px;
    margin-top: 21px;
    margin-bottom: 21px;
}

.current-light-name {
    letter-spacing: 0.035em;
    font-size: 36px;
}

.light-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.light {
    background-color: #86F175;
    border-radius: 11px;
    height: 150px;
    width: 150px;
}

.on-off-button {
    width: 150px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid #00000080;
    border-style: solid;
    font-size: 15px;
    line-height: 19.5px;
    letter-spacing: 15%;
    background-color: #F6F6F6;
}

.plus-icon {
    width: 5vw;
}

.color-header {
    display: flex;
    justify-content: space-between;
    gap: 194px;
    align-items: center;
    margin-bottom: 1vh;
}

.color-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.color-button {
    min-width: 150px;
    max-width: 170px;
    aspect-ratio: 1 / 1;
    background-color: lightcoral;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-basis: 100%;
}

.color-button:nth-child(1) {
    background-color: #F2F628;
}

.color-button:nth-child(2) {
    background-color: #F18080;
}

.color-button:nth-child(3) {
    background-color: #86F175;
}

.color-button:nth-child(4) {
    background-color: #6DD2FF;
}

.color-button > p {
    font-size: 1em;
    letter-spacing: -0.01em;
    color: #525252;
}

@media (min-width:375px) {
    .color-button {
        min-width: 119px;
        max-width: 122px;
        margin:0px;
    }
}

/* @media (min-width:475px) {
    .color-button {
        margin: 0;
    }
} */

@media (min-width:514px) {
    .color-grid {
        justify-content: start;
    }

    /* .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } */
} 

/* // TODO: make iphone mini show 2 columns of color buttons 375*/